body {
    background-color: pink;
    background-image: url('Love-Transparent-File.png'); /* Pastikan ini nama file yang benar */
    background-repeat: repeat; /* Gambar love akan berulang */
    background-size: 100px 100px; /* Mengubah ukuran gambar love */
    font-family: 'Latin', cursive;
    text-align: center;
    color: #ff0000;
}

/* Menghilangkan pseudo-element yang menimbulkan efek transparansi di seluruh elemen body */
/* body::before { ... } */

.slide {
    position: relative;
    z-index: 1;
    margin-top: 10%;
    margin-bottom: 5%;
}

h1 {
    font-size: 5em;
    font-weight: bold; /* Membuat teks lebih tebal */
    color: #ff0000;
    text-shadow: 2px 2px 8px #ffffff; /* Bayangan teks untuk menonjolkan */
    margin: 0 auto;
    width: 75%;
    line-height: 1.2;
}

.heart-btn {
    background-color: #ff0000;
    border: none;
    border-radius: 50%;
    padding: 20px 40px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 50px; /* Jarak dari teks */
    animation: heartbeat 1s infinite;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.heart-btn:disabled {
    cursor: not-allowed;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
