body {
    background-color: #FFC0CB; /* Warna pink yang lebih lembut */
    background-repeat: repeat;
    font-family: 'Latin', cursive;
    text-align: center;
    color: #ff0000;
}

/* Mengurangi kepadatan dan ukuran background dengan pseudo-element */
body::before {
    content: "";
    position: fixed; /* Fixed agar selalu tertutupi saat scroll */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('Love-Transparent-File.png') repeat;
    background-size: 30px 30px; /* Ukuran gambar love yang lebih kecil */
    opacity: 0.1; /* Lebih transparan */
    z-index: -1;
}

.slide, .slide h1, .heart-btn, .additional-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Menyelaraskan konten secara vertikal */
    align-items: center; /* Menyelaraskan konten secara horizontal */
    height: 100vh; /* Menggunakan tinggi viewport */
}

h1, .additional-text {
    font-size: 4em; /* Ukuran font lebih besar */
    font-weight: bold;
    color: #ff0000;
    text-shadow: 2px 2px 8px #FFFFFF; /* Bayangan putih untuk meningkatkan kontras */
    margin: 0;
}

.additional-text {
    font-size: 2em; /* Ukuran font lebih kecil dari h1 */
    padding-top: 20px; /* Jarak dari tulisan di atasnya */
}

.heart-btn {
    background-color: #ff0000;
    border: none;
    border-radius: 50%;
    padding: 15px 30px;
    font-size: 1.2em; /* Ukuran font tombol */
    cursor: pointer;
    margin-top: 2em; /* Jarak dari teks ke tombol */
    animation: heartbeat 1s infinite;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
